<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>매출통계(상품별)</title>
<!-- <link href="../css/sales.css" rel="Stylesheet" type="text/css"> -->
<style type="text/css">

th.w3-small,th.w3-tiny{
	background-color: skyblue;
	text-align: center;
}

td.w3-tiny{
	text-align: center;
}

</style>
</head>
<body>
	<div class="w3-top">
		<div class="w3-row w3-padding w3-black">
			<div class="w3-col s2">
				<a href="./sales_view.html" class="w3-button w3-block w3-black">매출내역</a>
			</div>
			<div class="w3-col s2">
				<a href="./sales_stat_day.html" class="w3-button w3-block w3-black">매출통계(일별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./sales_stat_month.html"
					class="w3-button w3-block w3-black">매출통계(월별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./sales_stat_product.html" class="w3-button w3-block w3-black">매출통계(상품별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_day.html" class="w3-button w3-block w3-black">주문통계(일별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_product.html"
					class="w3-button w3-block w3-black">주문통계(상품별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_member.html"
					class="w3-button w3-block w3-black">주문통계(회원별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_day.html" class="w3-button w3-block w3-black">주문통계(키워드별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_category.html" class="w3-button w3-block w3-black">주문통계(카테고리별)</a>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="w3-middle">
		<div class="w3-row ">

			<div style="margin-left: 80px;">
				<strong>매출통계(상품별)</strong>
			</div>
			<div class="w3-col">
				<div class="w3-right" style="margin-right: 74px">
					<button class="button" name="search">검색</button>
					<button class="button" name="down">자료받기</button>
				</div>
			</div>
		</div>
	</div>
	<table width='90%' style="margin: 0 auto">
		<tr>
			<th>매출일자</th>
			<td><input type="text" name="sales_start" size="10">~<input
				type="text" name="sales_stop" size="10"></td>
		</tr>
		<tr>	
			<th>상품명</th>
			<td><input type="text" name="product_name" size="20"></td>
		</tr>

	</table>
	<br>
	<hr class="w3-margin-bottom" style="width: 90%; margin: 0 auto;">
	<section class="w3-container w3-center w3-border w3-margin">
		<h2>매출통계 그래프</h2>
		<p>요기는 통계그래프 들어가요!</p>
		<hr>
	</section>
	<table class="w3-panel w3-bordered" style="width: 100%; margin: 0 auto;">
		<tr>
			<th class="w3-small" rowspan="2">차트</th>
			<th class="w3-small" rowspan="2">판매상태</th>
			<th class="w3-small" rowspan="2">상품명</th>
			<th class="w3-small" rowspan="2">재고수</th>
			<th class="w3-small" colspan="9">매출액 구분</th>
		</tr>
		<tr>
			<th class="w3-tiny">수량</th>
			<th class="w3-tiny">적립금</th>
			<th class="w3-tiny">할인</th>
			<th class="w3-tiny">쿠폰</th>
			<th class="w3-tiny">수수료</th>
			<th class="w3-tiny">결제금액</th>
			<th class="w3-tiny">과세</th>
			<th class="w3-tiny">비과세</th>
			<th class="w3-tiny">비중</th>
		</tr>
		<tr>
			<td class="w3-tiny"><input type="checkbox" name="chart"></td>
			<td class="w3-tiny">품절</td>
			<td class="w3-tiny">9부 셔츠</td>
			<td class="w3-tiny">500</td>
			<td class="w3-tiny">26</td>
			<td class="w3-tiny">40,000</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">6,000,000</td>
			<td class="w3-tiny">6,000,000</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0.24</td>
		</tr>
		<tr>
			<td class="w3-tiny"><input type="checkbox" name="chart"></td>
			<td class="w3-tiny">재고있음</td>
			<td class="w3-tiny">9부 셔츠</td>
			<td class="w3-tiny">500</td>
			<td class="w3-tiny">26</td>
			<td class="w3-tiny">40,000</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">6,000,000</td>
			<td class="w3-tiny">6,000,000</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0.24</td>
		</tr>
	</table>
	</div>
</body>
</html>