<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>클레임통계(일별)</title>
<!-- <link href="../css/sales.css" rel="Stylesheet" type="text/css"> -->
<style type="text/css">

th,th.w3-small,th.w3-tiny{
	background-color: skyblue;
	text-align: center;
}

td.w3-tiny{
	text-align: center;
}

</style>
</head>
<body>
	<div class="w3-top">
		<div class="w3-row w3-padding w3-black">
			<div class="w3-col s2">
				<a href="./sales_view.html" class="w3-button w3-block w3-black">매출내역</a>
			</div>
			<div class="w3-col s2">
				<a href="./sales_stat_day.html" class="w3-button w3-block w3-black">매출통계(일별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./sales_stat_month.html"
					class="w3-button w3-block w3-black">매출통계(월별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./sales_stat_product.html" class="w3-button w3-block w3-black">매출통계(상품별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_day.html" class="w3-button w3-block w3-black">주문통계(일별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_product.html"
					class="w3-button w3-block w3-black">주문통계(상품별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_member.html"
					class="w3-button w3-block w3-black">주문통계(회원별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_day.html" class="w3-button w3-block w3-black">주문통계(키워드별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./order_stat_category.html" class="w3-button w3-block w3-black">주문통계(카테고리별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./clame_stat_day.html" class="w3-button w3-block w3-black">클레임통계(일별)</a>
			</div>
			<div class="w3-col s2">
				<a href="./clame_stat_product.html" class="w3-button w3-block w3-black">클레임통계(상품별)</a>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="w3-middle">
		<div class="w3-row ">

			<div style="margin-left: 80px;">
				<strong>클레임(일별)</strong>
			</div>
			<div class="w3-col">
				<div class="w3-right" style="margin-right: 74px">
					<button class="button" name="search">검색</button>
				</div>
			</div>
		</div>
	</div>
	<table width='90%' style="margin: 0 auto">
		<tr>
			<th>클레임일자</th>
			<td><input type="text" name="clame_start" size="10">~<input
				type="text" name="clame_stop" size="10"></td>
			<th width="10%">환불구분</th>
			<td><input type="checkbox" name="sales_check" value="교환">교환
				<input type="checkbox" name="sales_check" value="환불">환불
				<input type="checkbox" name="sales_check" value="취소">취소
			</td>
		</tr>
		<tr>	
			<th>상품명</th>
			<td><input type="text" name="product_name" size="20"></td>
			<th>접수자</th>
			<td><input type="text" name="customer"></td>
		</tr>

	</table>
	<br>
	<hr class="w3-margin-bottom" style="width: 90%; margin: 0 auto;">
	<section class="w3-container w3-center w3-border w3-margin">
		<h2>클레임통계사유</h2>
		<p>요기는 클레임 통계 사유 원그래프가 들어가요!</p>
		<hr>
	</section>
	<table class="w3-panel w3-bordered" style="width: 100%; margin: 0 auto;">
		<tr>
			<th class="w3-small">일자</th>
			<th class="w3-small">합계</th>
			<th class="w3-small">고객변심</th>
			<th class="w3-small">미입금취소</th>
			<th class="w3-small">중복주문</th>
			<th class="w3-small">as관련</th>
			<th class="w3-small">재결제</th>
			<th class="w3-small">품절</th>
			<th class="w3-small">품절(재고분실)</th>
			<th class="w3-small">품절(오류)</th>
			<th class="w3-small">상품불량</th>
			<th class="w3-small">결제오류</th>
			<th class="w3-small">시스템오류</th>
			<th class="w3-small">오배송</th>
		</tr>
		<tr>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
		</tr>
		<tr>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
			<td class="w3-tiny">0</td>
		</tr>
	</table>
</body>
</html>